<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	maxImageWidth="2048"
	maxImageHeight="2048"
	galleryTitle="蜜月照"

>
  <image imageURL="images/IMG_2489.jpg"
	thumbURL="thumbs/IMG_2489.jpg"
	linkURL="images/IMG_2489.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_2489.JPG">
    <title><![CDATA[IMG_2489]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2854.jpg"
	thumbURL="thumbs/IMG_2854.jpg"
	linkURL="images/IMG_2854.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_2854.JPG">
    <title><![CDATA[IMG_2854]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2868.jpg"
	thumbURL="thumbs/IMG_2868.jpg"
	linkURL="images/IMG_2868.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_2868.JPG">
    <title><![CDATA[IMG_2868]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3159.jpg"
	thumbURL="thumbs/IMG_3159.jpg"
	linkURL="images/IMG_3159.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_3159.JPG">
    <title><![CDATA[IMG_3159]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3166.jpg"
	thumbURL="thumbs/IMG_3166.jpg"
	linkURL="images/IMG_3166.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_3166.JPG">
    <title><![CDATA[IMG_3166]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3185.jpg"
	thumbURL="thumbs/IMG_3185.jpg"
	linkURL="images/IMG_3185.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_3185.JPG">
    <title><![CDATA[IMG_3185]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3192.jpg"
	thumbURL="thumbs/IMG_3192.jpg"
	linkURL="images/IMG_3192.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_3192.JPG">
    <title><![CDATA[IMG_3192]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3243.jpg"
	thumbURL="thumbs/IMG_3243.jpg"
	linkURL="images/IMG_3243.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_3243.JPG">
    <title><![CDATA[IMG_3243]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3264.jpg"
	thumbURL="thumbs/IMG_3264.jpg"
	linkURL="images/IMG_3264.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_3264.JPG">
    <title><![CDATA[IMG_3264]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3268.jpg"
	thumbURL="thumbs/IMG_3268.jpg"
	linkURL="images/IMG_3268.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_3268.JPG">
    <title><![CDATA[IMG_3268]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3277.jpg"
	thumbURL="thumbs/IMG_3277.jpg"
	linkURL="images/IMG_3277.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_3277.JPG">
    <title><![CDATA[IMG_3277]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3281.jpg"
	thumbURL="thumbs/IMG_3281.jpg"
	linkURL="images/IMG_3281.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_3281.JPG">
    <title><![CDATA[IMG_3281]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3285.jpg"
	thumbURL="thumbs/IMG_3285.jpg"
	linkURL="images/IMG_3285.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_3285.JPG">
    <title><![CDATA[IMG_3285]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3392.jpg"
	thumbURL="thumbs/IMG_3392.jpg"
	linkURL="images/IMG_3392.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_3392.JPG">
    <title><![CDATA[IMG_3392]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3394.jpg"
	thumbURL="thumbs/IMG_3394.jpg"
	linkURL="images/IMG_3394.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_3394.JPG">
    <title><![CDATA[IMG_3394]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3396.jpg"
	thumbURL="thumbs/IMG_3396.jpg"
	linkURL="images/IMG_3396.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_3396.JPG">
    <title><![CDATA[IMG_3396]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3398.jpg"
	thumbURL="thumbs/IMG_3398.jpg"
	linkURL="images/IMG_3398.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_3398.JPG">
    <title><![CDATA[IMG_3398]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3403.jpg"
	thumbURL="thumbs/IMG_3403.jpg"
	linkURL="images/IMG_3403.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_3403.JPG">
    <title><![CDATA[IMG_3403]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3407.jpg"
	thumbURL="thumbs/IMG_3407.jpg"
	linkURL="images/IMG_3407.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_3407.JPG">
    <title><![CDATA[IMG_3407]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3408.jpg"
	thumbURL="thumbs/IMG_3408.jpg"
	linkURL="images/IMG_3408.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_3408.JPG">
    <title><![CDATA[IMG_3408]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3412.jpg"
	thumbURL="thumbs/IMG_3412.jpg"
	linkURL="images/IMG_3412.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_3412.JPG">
    <title><![CDATA[IMG_3412]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3414.jpg"
	thumbURL="thumbs/IMG_3414.jpg"
	linkURL="images/IMG_3414.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_3414.JPG">
    <title><![CDATA[IMG_3414]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3419.jpg"
	thumbURL="thumbs/IMG_3419.jpg"
	linkURL="images/IMG_3419.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_3419.JPG">
    <title><![CDATA[IMG_3419]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3420.jpg"
	thumbURL="thumbs/IMG_3420.jpg"
	linkURL="images/IMG_3420.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_3420.JPG">
    <title><![CDATA[IMG_3420]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3456.jpg"
	thumbURL="thumbs/IMG_3456.jpg"
	linkURL="images/IMG_3456.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_3456.JPG">
    <title><![CDATA[IMG_3456]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3491.jpg"
	thumbURL="thumbs/IMG_3491.jpg"
	linkURL="images/IMG_3491.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_3491.JPG">
    <title><![CDATA[IMG_3491]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3514.jpg"
	thumbURL="thumbs/IMG_3514.jpg"
	linkURL="images/IMG_3514.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_3514.JPG">
    <title><![CDATA[IMG_3514]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3517 2.jpg"
	thumbURL="thumbs/IMG_3517 2.jpg"
	linkURL="images/IMG_3517 2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_3517 2.jpg">
    <title><![CDATA[IMG_3517 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3518 2.jpg"
	thumbURL="thumbs/IMG_3518 2.jpg"
	linkURL="images/IMG_3518 2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_3518 2.jpg">
    <title><![CDATA[IMG_3518 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_35191.jpg"
	thumbURL="thumbs/IMG_35191.jpg"
	linkURL="images/IMG_35191.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/IMG_35191.jpg">
    <title><![CDATA[IMG_35191]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/star trails333.jpg"
	thumbURL="thumbs/star trails333.jpg"
	linkURL="images/star trails333.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/蜜月照/star trails333.jpg">
    <title><![CDATA[star trails333]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>