<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	maxImageWidth="2048"
	maxImageHeight="2048"
	galleryTitle="婚礼照"

>
  <image imageURL="images/DSC_8073.jpg"
	thumbURL="thumbs/DSC_8073.jpg"
	linkURL="images/DSC_8073.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8073.jpg">
    <title><![CDATA[DSC_8073]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8091.jpg"
	thumbURL="thumbs/DSC_8091.jpg"
	linkURL="images/DSC_8091.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8091.jpg">
    <title><![CDATA[DSC_8091]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8260.jpg"
	thumbURL="thumbs/DSC_8260.jpg"
	linkURL="images/DSC_8260.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8260.jpg">
    <title><![CDATA[DSC_8260]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8287.jpg"
	thumbURL="thumbs/DSC_8287.jpg"
	linkURL="images/DSC_8287.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8287.jpg">
    <title><![CDATA[DSC_8287]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8297.jpg"
	thumbURL="thumbs/DSC_8297.jpg"
	linkURL="images/DSC_8297.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8297.jpg">
    <title><![CDATA[DSC_8297]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8325.jpg"
	thumbURL="thumbs/DSC_8325.jpg"
	linkURL="images/DSC_8325.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8325.jpg">
    <title><![CDATA[DSC_8325]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8337.jpg"
	thumbURL="thumbs/DSC_8337.jpg"
	linkURL="images/DSC_8337.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8337.jpg">
    <title><![CDATA[DSC_8337]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8384.jpg"
	thumbURL="thumbs/DSC_8384.jpg"
	linkURL="images/DSC_8384.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8384.jpg">
    <title><![CDATA[DSC_8384]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8410.jpg"
	thumbURL="thumbs/DSC_8410.jpg"
	linkURL="images/DSC_8410.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8410.jpg">
    <title><![CDATA[DSC_8410]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8452.jpg"
	thumbURL="thumbs/DSC_8452.jpg"
	linkURL="images/DSC_8452.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8452.jpg">
    <title><![CDATA[DSC_8452]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8531.jpg"
	thumbURL="thumbs/DSC_8531.jpg"
	linkURL="images/DSC_8531.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8531.jpg">
    <title><![CDATA[DSC_8531]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8542.jpg"
	thumbURL="thumbs/DSC_8542.jpg"
	linkURL="images/DSC_8542.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8542.jpg">
    <title><![CDATA[DSC_8542]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8551.jpg"
	thumbURL="thumbs/DSC_8551.jpg"
	linkURL="images/DSC_8551.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8551.jpg">
    <title><![CDATA[DSC_8551]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8560.jpg"
	thumbURL="thumbs/DSC_8560.jpg"
	linkURL="images/DSC_8560.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8560.jpg">
    <title><![CDATA[DSC_8560]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8573.jpg"
	thumbURL="thumbs/DSC_8573.jpg"
	linkURL="images/DSC_8573.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8573.jpg">
    <title><![CDATA[DSC_8573]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8619.jpg"
	thumbURL="thumbs/DSC_8619.jpg"
	linkURL="images/DSC_8619.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8619.jpg">
    <title><![CDATA[DSC_8619]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8650.jpg"
	thumbURL="thumbs/DSC_8650.jpg"
	linkURL="images/DSC_8650.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8650.jpg">
    <title><![CDATA[DSC_8650]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8686.jpg"
	thumbURL="thumbs/DSC_8686.jpg"
	linkURL="images/DSC_8686.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8686.jpg">
    <title><![CDATA[DSC_8686]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8700.jpg"
	thumbURL="thumbs/DSC_8700.jpg"
	linkURL="images/DSC_8700.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8700.jpg">
    <title><![CDATA[DSC_8700]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8715.jpg"
	thumbURL="thumbs/DSC_8715.jpg"
	linkURL="images/DSC_8715.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8715.jpg">
    <title><![CDATA[DSC_8715]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8729.jpg"
	thumbURL="thumbs/DSC_8729.jpg"
	linkURL="images/DSC_8729.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8729.jpg">
    <title><![CDATA[DSC_8729]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8755.jpg"
	thumbURL="thumbs/DSC_8755.jpg"
	linkURL="images/DSC_8755.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8755.jpg">
    <title><![CDATA[DSC_8755]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8777.jpg"
	thumbURL="thumbs/DSC_8777.jpg"
	linkURL="images/DSC_8777.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8777.jpg">
    <title><![CDATA[DSC_8777]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8824.jpg"
	thumbURL="thumbs/DSC_8824.jpg"
	linkURL="images/DSC_8824.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8824.jpg">
    <title><![CDATA[DSC_8824]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8844.jpg"
	thumbURL="thumbs/DSC_8844.jpg"
	linkURL="images/DSC_8844.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8844.jpg">
    <title><![CDATA[DSC_8844]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8857.jpg"
	thumbURL="thumbs/DSC_8857.jpg"
	linkURL="images/DSC_8857.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8857.jpg">
    <title><![CDATA[DSC_8857]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8861.jpg"
	thumbURL="thumbs/DSC_8861.jpg"
	linkURL="images/DSC_8861.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8861.jpg">
    <title><![CDATA[DSC_8861]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8895.jpg"
	thumbURL="thumbs/DSC_8895.jpg"
	linkURL="images/DSC_8895.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8895.jpg">
    <title><![CDATA[DSC_8895]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8928.jpg"
	thumbURL="thumbs/DSC_8928.jpg"
	linkURL="images/DSC_8928.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8928.jpg">
    <title><![CDATA[DSC_8928]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8978.jpg"
	thumbURL="thumbs/DSC_8978.jpg"
	linkURL="images/DSC_8978.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8978.jpg">
    <title><![CDATA[DSC_8978]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_8980.jpg"
	thumbURL="thumbs/DSC_8980.jpg"
	linkURL="images/DSC_8980.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_8980.jpg">
    <title><![CDATA[DSC_8980]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_9047.jpg"
	thumbURL="thumbs/DSC_9047.jpg"
	linkURL="images/DSC_9047.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_9047.jpg">
    <title><![CDATA[DSC_9047]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_9051.jpg"
	thumbURL="thumbs/DSC_9051.jpg"
	linkURL="images/DSC_9051.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_9051.jpg">
    <title><![CDATA[DSC_9051]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_9058.jpg"
	thumbURL="thumbs/DSC_9058.jpg"
	linkURL="images/DSC_9058.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_9058.jpg">
    <title><![CDATA[DSC_9058]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_9084.jpg"
	thumbURL="thumbs/DSC_9084.jpg"
	linkURL="images/DSC_9084.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_9084.jpg">
    <title><![CDATA[DSC_9084]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_9093.jpg"
	thumbURL="thumbs/DSC_9093.jpg"
	linkURL="images/DSC_9093.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_9093.jpg">
    <title><![CDATA[DSC_9093]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_9111.jpg"
	thumbURL="thumbs/DSC_9111.jpg"
	linkURL="images/DSC_9111.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_9111.jpg">
    <title><![CDATA[DSC_9111]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_9114.jpg"
	thumbURL="thumbs/DSC_9114.jpg"
	linkURL="images/DSC_9114.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_9114.jpg">
    <title><![CDATA[DSC_9114]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_9143.jpg"
	thumbURL="thumbs/DSC_9143.jpg"
	linkURL="images/DSC_9143.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_9143.jpg">
    <title><![CDATA[DSC_9143]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_9637.jpg"
	thumbURL="thumbs/DSC_9637.jpg"
	linkURL="images/DSC_9637.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_9637.jpg">
    <title><![CDATA[DSC_9637]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_9690.jpg"
	thumbURL="thumbs/DSC_9690.jpg"
	linkURL="images/DSC_9690.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_9690.jpg">
    <title><![CDATA[DSC_9690]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_9754.jpg"
	thumbURL="thumbs/DSC_9754.jpg"
	linkURL="images/DSC_9754.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_9754.jpg">
    <title><![CDATA[DSC_9754]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_9758.jpg"
	thumbURL="thumbs/DSC_9758.jpg"
	linkURL="images/DSC_9758.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_9758.jpg">
    <title><![CDATA[DSC_9758]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_9773.jpg"
	thumbURL="thumbs/DSC_9773.jpg"
	linkURL="images/DSC_9773.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_9773.jpg">
    <title><![CDATA[DSC_9773]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_9791.jpg"
	thumbURL="thumbs/DSC_9791.jpg"
	linkURL="images/DSC_9791.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_9791.jpg">
    <title><![CDATA[DSC_9791]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_9794.jpg"
	thumbURL="thumbs/DSC_9794.jpg"
	linkURL="images/DSC_9794.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_9794.jpg">
    <title><![CDATA[DSC_9794]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_9823.jpg"
	thumbURL="thumbs/DSC_9823.jpg"
	linkURL="images/DSC_9823.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_9823.jpg">
    <title><![CDATA[DSC_9823]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_9846.jpg"
	thumbURL="thumbs/DSC_9846.jpg"
	linkURL="images/DSC_9846.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_9846.jpg">
    <title><![CDATA[DSC_9846]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_9866.jpg"
	thumbURL="thumbs/DSC_9866.jpg"
	linkURL="images/DSC_9866.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_9866.jpg">
    <title><![CDATA[DSC_9866]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_9884.jpg"
	thumbURL="thumbs/DSC_9884.jpg"
	linkURL="images/DSC_9884.jpg"
	linkTarget="_blank"
	sourcePath="/Users/smatyshi/Desktop/untitled folder 2/婚礼照/DSC_9884.jpg">
    <title><![CDATA[DSC_9884]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>